<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<style>
    table {
        border-collapse: collapse;
    }
    table,
    td,
    th {
        border: 1px solid black;
    }

    button {
        width: 90px;
        margin-right: 10px;
        border-radius: 5px;
        background: silver;
    }
</style>
<body>
<div id="app">

    <table>
        <tr v-for="(x,index) in tables">
            <td>{{index+1}}</td>
            <td>{{x.userName}}</td>
            <td>{{x.email}}</td>
            <td>{{x.article.title}}</td>
        </tr>
    </table>
</div>
</body>
</html>
<script>

    var app=new Vue({
        el:"#app",
        data:{
            tables:[]
        },
        mounted:function(){
          this.init();
        },
    methods:{
            init:function(){var _this=this;
                axios.get("/api/user/info",{}).then((res)=>{
                    _this.tables=[];
                        res.data.forEach((e)=>{
                            _this.tables.push({
                            userId:e.userId,
                            userName:e.userName,
                            email:e.email,
                            article:{
                                title:e.article.title
                            }
                        })
                    });
                }).catch((err)=>{
                    console.log(err.message);
                });
            }
        }
    });
</script>