<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<style>
    table {
        border-collapse: collapse;
    }
    table,
    td,
    th {
        border: 1px solid black;
    }

    button {
        width: 90px;
        margin-right: 10px;
        border-radius: 5px;
        background: silver;
    }
</style>
<body>
<div id="app">
    
</div>
</body>
</html>

<script>

    var app=new Vue({
        el:"#app",
        data:{
            tables:[],
            userList[]
        },
        mounted:function(){
          this.init();
        },
    methods:{
            init:function(){
            	let _this=this;
            
            }
        }
    });
</script>